
export("keystroke",
       "keydown",
       "keyup",
       "typestring",

       "mousemove",
       "mousemovePolar",
       "mousemoveRel",
       "mousemoveRelPolar",
       "click",
       "mousedown",
       "mouseup")

